body {
    background: url("../Images/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.heading {
    float: right;
    position: relative;
    top: 50px; 
    right: 70px;
}

.sheet {
    position: relative;
    float: left;
    top: 85px;
    left: 30px;
    height: 600px;
    width: 50%;
}

.ball {
    height: 50x;
    width: 50px;
    position: relative;
    float: left;
    left: 100px;
    top: 5px
}